
<header class="page-header">
  <h2>Admin &raquo; Dashboard</h2>
</header>
<div>
  <h4> Number of products in database: <%= @product_count %></h4>
  <h4> Number of categories in database: <%= @category_count %></h4>
</div>