
<header class="page-header">
  <h1>About Us</h1>
<header>
<div class="intro">
  <p>Welcome to the Jungle!</p>
  <p>We offer variety of unique, exotic and beautiful plants. If you're looking for a special or unique plant for your home or to give as a gift, we would love to help you choose the perfect fit. We also carry a wide variety of tropical plant and succulent terrariums, air plants and more.</p>
  <p>At Jungle we pride ourselves on exceptional customer service and a friendly, welcoming atmosphere. We look forward to meeting you at the shop or assisting with your order over the phone. We offer same-day delivery in Guelph, Aberfoyle, Rockwood and surrounding areas. Are you a little further out? We now ship houseplants, decor, self-care and more across Canada! </p>
</div>